 body {
    font-family: 'Teko', sans-serif;
    background-image: url('./login_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}
 html, body {
    font-family: 'Teko', sans-serif;
}
a {
    text-decoration: underline;
    color: rgb(96, 41, 160);
}
.mdl-menu a {
    text-decoration: none;
}
.content {
    max-width: 1024px;
}
.mdl-card {
    font-family: 'Teko', sans-serif;
    display: block;
    width: 900px;
}
h2{
    font-family: 'Teko', sans-serif;
}
h4 {
    font-size: 28px;
    font-family: 'Teko', sans-serif;
}
h3 {
    font-size: 50px;
    background: url('symbol.png') no-repeat;
    background-size: 50px;
    padding-left: 50px;
    background-position-y: -2px;
}

.mdl-textfield {
    width: 100%;
    font-size: 18px;
	line-height: 25px;
}
/* Fixes an MDL bug where the header does not scroll on small devices */
.mdl-layout__container .mdl-layout--fixed-header .mdl-layout__content {
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
}
/* Overrides MDL colors */
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after,
.header .mdl-textfield__label:after {
    background-color: rgb(9, 11, 110);
}
.mdl-snackbar__action {
    color: rgb(9, 11, 110);
}
.mdl-textfield__label:after {
    background-color: rgb(96, 41, 160);
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: rgb(96, 41, 160);
}

/* Header */

.logo {
    font-family: 'Teko', sans-serif;
}
.logo .material-icons {
    top: 4px;
    font-size: 80px;
    margin-right: -2px;
    position: relative;
}
.header .mdl-layout__header-row {
    max-width: 1024px;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin: auto;
    position: relative;
}
@media screen and (max-width: 840px) {
    .header .mdl-layout__header-row.titlebar {
        height: 56px;
    }
    .titlebar h3 {
        font-size: 30px;
    }
    .titlebar h3 .material-icons {
        top: 2.5px;
        font-size: 28px;
    }
    #D2{
        display: none;
    }
    
}
@media screen and (max-width: 800px) {
    #search_text{
        display: none;
    }
    #menu-search{
        display: none;
    }
    #mySelect{
        display: none;
    }
    #signout_txt{
        display: none;
    }
    
}
@media screen and (max-width: 479px) {
    #sign-out-button {
        font-size: 16px;
        line-height: 28px;
    }
    .username {
        font-size: 16px;

    }
    h3 {
        font-size: 24px;
    }

}
@media screen and (max-width: 500px) {

    #menu-my-top-posts{
        display: none;
    }
    .mdl-grid {
        padding: 0;
    }
    .mdl-card {
        font-size: 15px;
    }
    .header .mdl-tab {
        font-size:18px;
    }
    
}

/* Signed-in user */
#signout_txt{
    display: inline-block;
}
.avatar {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-size: 40px 40px;
    border-radius: 40px;
    border: 2px white solid;
    margin-right: 5px;
    background-image: url('./silhouette.jpg');
}
.user_img {
    height: 60px;
    width: 60px;
    display: inline-block;
    background-size: 60px 60px;
    border-radius: 60px;
    border: 2px white solid;
    margin-right: 5px;
    
}
.username {
    font-size: 20px;
    display: inline-block;
    line-height: 38px;
    vertical-align: top;
    width: calc(100% - 46px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
#sign-in-button {
    font-size: 24px;
	line-height: 40px;
    margin-left: 10px;
    color: inherit;
}
#sign-out-button {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    margin: 10px;
    line-height: 34px;
    color: inherit;
    background-color: rgba(255, 0, 0, 0.507);
}
.mdl-button .material-icons {
    margin-top: -2px;
}
.mdl-button.mdl-button--icon .material-icons,
.mdl-button.mdl-button--fab .material-icons {
    margin-top: 0;
}
.mdl-button{
    font-size: 24px;
    font-family: 'Teko', sans-serif;
}
/* Navigation Bar */

.header .mdl-tab {
    font-family: 'Teko', sans-serif;
    padding-left: 23px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    margin: auto;
    max-width: 1024px;
}
@media screen and (max-width: 609px) {
    .header .mdl-tab {
        width: auto;
    }
}
.header .tab {
    padding: 0;
    max-width: none;
}
#add {
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 998;
}
@media screen and (max-width: 880px) {
    #add {
        position: fixed;
        top: auto;
        bottom: 10px;
        right: auto;
        left: 0;
        z-index: 998;
    }
    #sign-out-button {
        right: 80px;
    }
}
#sign-out-button {
    right:  0;
    position: absolute;
}

/* Drawer */

.mdl-layout__drawer-button {
    display: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.is-active,
.is-active .mdl-menu__item {
    color: black;
    background-color: #EBEBEB;
}
.mdl-layout__drawer {
    border-right-width: 0;
}
.mdl-navigation__link .material-icons, .mdl-menu__item .material-icons {
    position: relative;
    margin-top: -2px;
    margin-right: 10px;
}
.mdl-menu__item .material-icons {
    top: 7px;
}
@media screen and (max-width: 479px) {
    .mdl-layout__drawer-button {
        display: block;
        top: 3px;
    }
}

/* New Post Page */

#page-add {
    
    display: block;
    text-align: center;
}
#page-add .mdl-cell {
    
    width: auto;
    min-width: 300px;
}
#newPictureContainer {
    margin: 0;
    max-width: 100%;
    max-height: 400px;
}
@media screen and (max-width: 479px) {
    .mdl-snackbar__action {
        margin-right: 60px;
    }
    .comment_hidden{
        display: none;
    }
}
.comments-container .username {
    width: auto;
}
.comments-container .comment{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    color: rgb(110, 108, 108);
    line-height: 25px;
}
.comments-container .username {
    line-height: 25px;
}


/* Post */
.comment-count{
    color: #444;
    padding: 0 10px 0 5px;
    font-weight: bold;
    display: inline-block;
    top: -10px;
    position: relative;
}
.post .mdl-card {
    background-color: rgba(240, 248, 255, 0.774);
    border-radius: 40px;
    height: 100%;
    top: 0;
    left: 0;
    min-height: 0;
}
.post .header {
    padding: 10px;
    width: calc(100% - 50px);
    display: inline-block;
}
.post .star-count {
    color: #444;
    padding: 0 10px 0 5px;
    font-weight: bold;
    display: inline-block;
    top: -10px;
    position: relative;
}
.post .comments-container {
    padding: 15px 10px 0 10px;
}
.post .text {
    padding: 0 10px;
    color: rgb(110, 108, 108);
    word-wrap: break-word;
}
.post .comments-container .text {
    margin-left: 5px;
    color: #444;
    transition: all 0.2s;
}
.post .add-comment{
    flex-grow: 1;
    padding: 0 10px;
    margin-bottom: -10px;
}
.post .add-comment.mdl-textfield {
    width: 100%;
}
.post .star {
    position: absolute;
    top: 10px;
    right: 0;
}
.post .star .material-icons {
    font-size: 35px;
    color: LightPink 	;
    cursor: pointer;
}
.post .star .material-icons:HOVER {
    opacity: 0.6;
}
.post .remove_p .material-icons:HOVER {
    opacity: 0.6;
}
.post .star .starred {
    display: none;
}

.btn  { 
    color: aliceblue;
    background-color: rgba(175, 126, 221, 0.562);
      box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);	
      outline: none;
      cursor: pointer;
    text-shadow: 0 1px rgb(78, 46, 3);
      display: inline-block;
      font-size: 24px;
      line-height: 40px;
      border: none;
      border-radius: 5px;
      padding: 5px 20px;
      
  }
/* Splash Page */

#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./login_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

/*signin.css*/
.checkbox {
    font-weight: 400;
  }
   .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-control:focus {
    z-index: 2;
  }
   input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .txt_center{
    margin:0px auto;
    text-align:center;
  }
   input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .post_page  { 
    color: aliceblue;
    background-color: rgba(175, 126, 221, 0.562);
      box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);	
      outline: none;
      cursor: pointer;
    text-shadow: 0 1px rgb(78, 46, 3);
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
      border: none;
      border-radius: 5px;
      padding: 5px 20px;
      margin-left: 20px;
  }
  /*Top Button*/
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 0, 0, 0.616); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    }

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }